<div class="card">
  <p-panel header="Datos de Busqueda">
    <div class="factura-row">
      <div class="factura-column">
        <strong>Cliente </strong>
        <p-dropdown
          [options]="clients"
          [(ngModel)]="clienteId"
          placeholder="Selecciona un Cliente"
          optionLabel="nombreCompleto"
          optionValue="id"
          [style]="{ minWidth: '80%' }"
        ></p-dropdown>
      </div>

      <div class="factura-column">
        <strong>Fecha Desde </strong>
        <p-calendar
          [showIcon]="true"
          appendTo="body"
          [(ngModel)]="fechaDesde"
          [required]="true"
        ></p-calendar>
      </div>

      <div class="factura-column">
        <strong>Fecha Hasta </strong>
        <p-calendar
          [showIcon]="true"
          appendTo="body"
          [required]="true"
          [(ngModel)]="fechaHasta"
        ></p-calendar>
      </div>

      <div class="factura-column">
        <button
          pButton
          pRipple
          label="Buscar"
          icon="pi pi-search"
          class="p-button-primary"
          (click)="search()"
        ></button>
      </div>
    </div>
  </p-panel>

  <p-table
    #dt
    [value]="saleslts"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'cliente',
      'nombrePlan',
      'montocuota',
      'noProducto',
      'fechaVenta',
      'nombreTiposeguro',
      'nombreTipoCuenta',
      'estado'
    ]"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h3 class="m-0">Venta Seguro</h3>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="cliente">Cliente <p-sortIcon field="cliente"></p-sortIcon></th>
        <th pSortableColumn="nombrePlan">Plan <p-sortIcon field="nombrePlan"></p-sortIcon></th>
        <th pSortableColumn="montocuota">Cuota <p-sortIcon field="montocuota"></p-sortIcon></th>
        <th pSortableColumn="noProducto">No. Producto <p-sortIcon field="noProducto"></p-sortIcon></th>
        <th pSortableColumn="fechaVenta">Fecha Venta <p-sortIcon field="fechaVenta"></p-sortIcon></th>
        <th pSortableColumn="nombreTiposeguro">Tipo Seguro<p-sortIcon field="nombreTiposeguro"></p-sortIcon></th>
        <th pSortableColumn="nombreTipoCuenta">Tipo Cuenta<p-sortIcon field="nombreTipoCuenta"></p-sortIcon></th>
        <th pSortableColumn="estado">Estado<p-sortIcon field="estado"></p-sortIcon></th>
        <th>Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sale>
      <tr>
        <td>{{ sale.cliente }}</td>
        <td>{{ sale.nombrePlan }}</td>
        <td>{{ sale.montocuota | currency }}</td>
        <td>{{ sale.noProducto}}</td>
        <td>{{ sale.fechaVenta | date:'dd/MM/YYYY' }}</td>
        <td>{{ sale.nombreTiposeguro}}</td>
        <td>{{ sale.nombreTipoCuenta}}</td>
        <td>
          <p-button
            [label]="common.getStatus(sale.estado)"
            [styleClass]="common.getSeverity(sale.estado)"
          ></p-button>
        </td>
        <td class="flex p-1" style="font-size: 8x">
          <button
            title="prueba"
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-primary mr-2"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
