<!-- <div class="surface-ground flex align-items-center justify-content-center min-h-screen w-full overflow-hidden"> -->
  <!-- <p-toast position="center" ></p-toast> -->
  <!-- <div class="flex flex-column align-items-center justify-content-center"> -->
    <div class="card">
    <!-- <div
      style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);"> -->
      <div class="w-full surface-card py-5 px-3 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
          <div class="text-900 text-lg font-medium mb-3">Venta Seguro</div>
          <span class="text-600  font-normal">Change Password</span>
        </div>

        <div>
          <label for="email1" class="block text-900 text-base font-medium mb-2">Nuevo Password</label>
          <p-password id="password1" placeholder="Password" styleClass="mb-3"
            inputStyleClass="w-full p-2 md:w-22rem" [(ngModel)]="passWord"></p-password>

            <label for="email1" class="block text-900 text-base font-medium mb-2">Confirmacion Nuevo Password</label>
            <p-password id="password1" placeholder="Password" styleClass="mb-3"
              inputStyleClass="w-full p-2 md:w-22rem" [(ngModel)]="confirmPassWord"></p-password>

          <div class="flex align-items-center justify-content-between mb-5 gap-5">
          </div>
          <button pButton pRipple label="Cambiar Password" class="w-full p-2 text-xl" (click)="changePassword()"></button>
        </div>
      </div>
    <!-- </div> -->

    </div>

  <!-- </div>
</div> -->
