<form [formGroup]="SalesForm" (ngSubmit)="id != 0 ? editSales() : addSales()">
  <div class="card">
    <p-toast></p-toast>
    <div class="row">
      <div class="col">
        <div class="flex flex-column my-3 flex-auto">
          <label htmlFor="sexo">Cliente</label>
          <p-dropdown
            [options]="clients"
            [(ngModel)]="clienteId"
            placeholder="Selecciona un Cliente"
            formControlName="clientSale"
            optionLabel="nombreCompleto"
            optionValue="id"
            styleClass="w-full"
          ></p-dropdown>
        </div>

        <div class="flex flex-column my-3 mt-0">
          <label htmlFor="planId">Plan</label>
          <p-dropdown
            [options]="plans"
            [(ngModel)]="planId"
            placeholder="Selecciona un Plan"
            formControlName="planSale"
            optionLabel="nombre"
            optionValue="id"
            styleClass="w-full"
          ></p-dropdown>
        </div>

        <div class="flex flex-column my-3 flex-auto">
          <label htmlFor="InsranceTypeId">Tipo de Seguro</label>
          <p-dropdown
            [options]="type"
            [(ngModel)]="InsranceTypeId"
            placeholder="Selecciona un Tipo Seguro"
            formControlName="insuranceSale"
            optionLabel="nombre"
            optionValue="id"
            styleClass="w-full"
          ></p-dropdown>
        </div>

        <div class="flex flex-column my-3">
          <label htmlFor="cedula">Tipo Cuenta</label>
          <p-dropdown
            [options]="account"
            [(ngModel)]="accountTypeId"
            placeholder="Selecciona un Tipo Cuenta"
            formControlName="acountSale"
            optionLabel="nombre"
            optionValue="id"
            styleClass="w-full"
          ></p-dropdown>
        </div>

        <div class="flex flex-column my-3">
          <label htmlFor="name">No. Producto</label>
          <input
            type="text"
            pInputText
            id="lastName"
            [(ngModel)]="noProducto"
            placeholder="No. Producto"
            formControlName="noProductoSale"
          />

          <small
            class="p-error block"
            *ngIf="
              SalesForm.get('noProductoSale')?.invalid &&
              SalesForm.get('noProductoSale')?.dirty
            "
            >El No. Producto es requerido</small
          >
        </div>

        <div class="flex flex-column my-3">
          <label htmlFor="name">No. Seguro</label>
          <input
            type="text"
            pInputText
            id="lastName"
            [(ngModel)]="noSeguro"
            placeholder="No. Seguro"
            formControlName="noSeguroSale"
          />

          <small
            class="p-error block"
            *ngIf="
              SalesForm.get('noSeguroSale')?.invalid &&
              SalesForm.get('noSeguroSale')?.dirty
            "
            >El No. Seguro es requerido</small
          >
        </div>

        <div class="flex flex-column my-3 flex-auto">
          <label htmlFor="fecha">Fecha </label>
          <p-calendar
            [showIcon]="true"
            [(ngModel)]="fechaVenta"
            appendTo="body"
            formControlName="fechaVentaSale"
            [required]="true"
          ></p-calendar>
        </div>
      </div>

      <div class="flex gap-6">
        <button
          label="Save"
          type="submit"
          [disabled]="SalesForm.invalid"
          pButton
          icon="pi pi-save"
        ></button>
        <button
          label="Cancel"
          type="button"
          pButton
          icon="pi pi-times"
          (click)="close()"
        ></button>
      </div>
    </div>
  </div>
</form>
