
<div class="bg-white px-4 py-5 md:px-6 lg:px-8 border-round">
  <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
          <div class="surface-card shadow-2 p-3 border-round">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Ventas</span>
                      <div class="text-900 font-medium text-xl">{{saleCount}}</div>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                  </div>
              </div>
              <span class="text-green-500 font-medium">Ventas de Seguro </span>
              <span class="text-500">En este año</span>
          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
          <div class="surface-card shadow-2 p-3 border-round">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Facturacion</span>
                      <div class="text-900 font-medium text-xl">{{billignAmount | currency}}</div>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                  </div>
              </div>
              <span class="text-green-500 font-medium">Facturado </span>
              <span class="text-500">En este año </span>
          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
          <div class="surface-card shadow-2 p-3 border-round">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Clientes</span>
                      <div class="text-900 font-medium text-xl">{{ clientCount }}</div>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                  </div>
              </div>
              <span class="text-green-500 font-medium">Clientes  </span>
              <span class="text-500">registrados</span>
          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
          <div class="surface-card shadow-2 p-3 border-round">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Planes</span>
                      <div class="text-900 font-medium text-xl">{{plansCount}}</div>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-comment text-purple-500 text-xl"></i>
                  </div>
              </div>
              <span class="text-green-500 font-medium">Planes </span>
              <span class="text-500">creados</span>
          </div>
      </div>
  </div>
</div>

<div class="card mt-3 bg-white border-round">
  <div class="">
      <p-chart height="450px" type="line" class="h-10rem" [data]="data" [options]="options"></p-chart>
    </div>

</div>
