
<div class="card">
  <div class="row">
     <div class="col ">
      <div class="flex flex-column gap-2">
        <p-toast></p-toast>
        <label htmlFor="code">Codigo</label>
        <input type="text" pInputText id="code" [(ngModel)]="code" />
      </div>

      <div class="flex flex-column gap-2">
        <label htmlFor="name">Nombre</label>
        <input pInputText id="name" [(ngModel)]="name" aria-describedby="username-help" />
      </div>

      <div class="flex flex-column gap-2">
        <label htmlFor="cuota">Cuota</label>
        <p-inputNumber styleClass="w-full" inputId="integeronly" [(ngModel)]="cuota" mode="currency" currency="USD" locale="en-IN" [minFractionDigits]="2"></p-inputNumber>
      </div>

      <div class="flex flex-column gap-2 flex-auto">
        <label htmlFor="age">Edad Maxima</label>
        <p-inputNumber [showButtons]="true" [(ngModel)]="edad" inputId="age" inputId="minmax-buttons" [min]="0" [max]="150"> </p-inputNumber>
      </div>
     </div>

     <div class="flex gap-6">
        <button label="Save" type="button" pButton icon="pi pi-save" (click)=" id != 0 ? editPlan() : addPlan()"></button>
        <button  label="Cancel" type="button" pButton icon="pi pi-times" (click)="close()"></button>
    </div>
  </div>
</div>
